
<!DOCTYPE html> 
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>CSS Cafe</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mochiy+Pop+P+One&family=Reenie+Beanie&display=swap"
    rel="stylesheet"/>
</head>

<body>
<header class="header-content">
    <h1 class="header-title">CSS Cafe</h1>
    <ul class="header-list">
        <li>home</li>
        <li>about</li>
        <li>address</li>
    </ul>
</header>

<div class="main-container">
    <div class="main-img">
        <img src='image/cafe.jpg' class="img">
    </div>
    <h1>Menu</h1>
    <div class="container">
        <div class="content">
            <div class="title">
                コーヒー
            </div>
            <div class="text">
                <li>アメリカン</li>
                <li>ブレンド</li>
                <li>カフェオレ</li>
                <li>カフェラテ</li>
                <li>エスプレッソ</li>
            </div>
        </div>

        <div class="content">
            <div class="title">
                紅茶
            </div>
            <div class="text">
                <li>ミルク</li>
                <li>レモン</li>
                <li>ストレート</li>
            </div>
        </div>

        <div class="content">
            <div class="title">
                ソフトドリンク
            </div>
            <div class="text">
                <li>オレンジジュース</li>
                <li>リンゴジュース</li>
                <li>マンゴージュース</li>
            </div>
        </div>
    </div>
</div>

<footer>
    <small>©CSS Seminar</small>
</footer>
</body>
</html>

