<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの食材は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3] %>
  <% when ["1", "1", "1"] %>
    <h6>元気・免疫UPできる和食</h6>

    <p>鶏肉とナスの甘酢みそ炒め</p>
    <p>→鶏肉・味噌・お酢（疲労回復）</p>


    <p>ショウガ・納豆・海藻・さつまいも・牛ひれ肉・豆腐・鯖・キノコ・長いも・鶏むね肉・味噌・大根・小松菜・かぼちゃ</p>


    <p>ビタミン類→粘膜・皮膚を強くする（物理的なバリア）</p>
    <p>ポリフェノール・緑黄色野菜→活性酸素（タンパク質に悪影響）を減らす・無害化→細胞の変質による病気（がんなど）・生活習慣病（動脈硬化など）の予防</p>
    <p>タンパク質→免疫抗体作り→感染症の回復はやめる・かかりにくくなる</p>
    <p>食物繊維→体に悪いもの（毒素など）の排出を促す</p>
    <p>発酵食品→善玉菌（免疫細胞を活性化）


  <% when ["1", "1", "2"] %>
    <h6>元気・免疫UPできる洋食</h6>

    <p>ニンジンとショウガのポタージュ</p>
    <p>→しょうが・人参</p>

    <p>チキンときのこのサラダ</p>
    <p>→チキン・キノコ</p>

    <p> 野菜たっぷりカレースープ</p>
    <p>→鶏肉・ショウガ・ニンニク・人参・キノコ・かぼちゃ・パプリカ・ピーマン・はちみつ</p>

    <p>たっぷりきのこのポテトグラタン</p>
    <p>→きのことジャガイモを一緒に取るとよい！</p>

  <% when ["1", "1", "3"] %>
    <h6>元気・免疫UPできる中華</h6>

    <p>たっぷりニラの麻婆豆腐</p>
    <p>→ニンニク・豆腐・長ネギ</p>
    
    <p>海老としいたけの蒸し団子</p>
    <p>→しいたけの食物繊維・えびはんぺんのタンパク質</p>

    <p>にんにく・海藻・きのこ・豆腐</p>
    <p>ストレスを緩和してくれる効果がある</p>



  <% when ["1", "1", "5"] %>
    <h6>元気・免疫UPできるデザート</h6>

    <p>ヨーグルト・さつまいも・リンゴ・バナナ</p>
    <p>幸福感を得やすい</p>




  <% when ["1", "2", "1"] %>
    <h6>元気・筋肉増強できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["1", "2", "2"] %>
    <h6>元気・筋肉増強できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["1", "2", "3"] %>
    <h6>元気・筋肉増強できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  

  <% when ["1", "2", "5"] %>
    <h6>元気・筋肉増強できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


    <% when ["1", "2", "1"] %>
    <h6>元気・脂肪減少できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["1", "3", "2"] %>
    <h6>元気・脂肪減少できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["1", "3", "3"] %>
    <h6>元気・脂肪減少できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  

  <% when ["1", "3", "5"] %>
    <h6>元気・脂肪減少できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>






    <% when ["2", "1", "1"] %>
    <h6>体調不良・免疫UPできる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["2", "1", "2"] %>
    <h6>体調不良・免疫UPできる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["2", "1", "3"] %>
    <h6>体調不良・免疫UPできる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>


  <% when ["2", "1", "5"] %>
    <h6>体調不良・免疫UPできるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


    <% when ["2", "2", "1"] %>
    <h6>体調不良・筋肉増強できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["2", "2", "2"] %>
    <h6>体調不良・筋肉増強できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["2", "2", "3"] %>
    <h6>体調不良・筋肉増強できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>



  <% when ["2", "2", "5"] %>
    <h6>体調不良・筋肉増強できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


    <% when ["2", "3", "1"] %>
    <h6>体調不良・脂肪減少できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["2", "3", "2"] %>
    <h6>体調不良・脂肪減少できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["2", "3", "3"] %>
    <h6>体調不良・脂肪減少できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>


  <% when ["2", "3", "5"] %>
    <h6>体調不良・脂肪減少できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>





    <% when ["3", "1", "1"] %>
    <h6>胃腸の調子が悪い・免疫UPできる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["3", "1", "2"] %>
    <h6>胃腸の調子が悪い・免疫UPできる洋食</h6>

    <p>小松菜と高野豆腐のヨーグルトスープ</p>
    <p>→ヨーグルト・豆腐・野菜</p>



  <% when ["3", "1", "3"] %>
    <h6>胃腸の調子が悪い・免疫UPできる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  

  <% when ["3", "1", "5"] %>
    <h6>胃腸の調子が悪い・免疫UPできるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


    <% when ["3", "2", "1"] %>
    <h6>胃腸の調子が悪い・筋肉増強できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["3", "2", "2"] %>
    <h6>胃腸の調子が悪い・筋肉増強できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["3", "2", "3"] %>
    <h6>胃腸の調子が悪い・筋肉増強できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  

  <% when ["3", "2", "5"] %>
    <h6>胃腸の調子が悪い・筋肉増強できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


    <% when ["3", "3", "1"] %>
    <h6>胃腸の調子が悪い・脂肪減少できる和食</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>


  <% when ["3", "3", "2"] %>
    <h6>胃腸の調子が悪い・脂肪減少できる洋食</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>


  <% when ["3", "3", "3"] %>
    <h6>胃腸の調子が悪い・脂肪減少できる中華</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  

  <% when ["3", "3", "5"] %>
    <h6>胃腸の調子が悪い・脂肪減少できるデザート</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>


  <% end %>
</div>
